.container {
    background-color: aquamarine;
    width: 220px;
    height: 250px;
    border-radius: 15px;
    padding: 20px 0px;
    text-align: center;
    margin: 15px 10px;
    box-shadow: 4px 10px 10px rgb(0,0,0,0.5);
}

.outerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}